body {
    height: 100%;
}

#container-cards {
    flex-direction: row;
    flex-wrap: wrap;
}


#container-cards .columns {
    flex-wrap: wrap;
    justify-content: center;
}

.more-icon {
    font-size: 24px;
    margin: 4% 4% 0px 0px;
}

.review-author {
    background-color: rgba(31, 22, 22, 0.906);
    color:aqua;
    border-radius: 20px 0px 0px 20px;
    text-align: center;
    min-width: 12%;
    max-width: 140px;
}

.review-text {
    background-color: aqua;
    color: rgba(31, 22, 22, 0.906);;
    border-radius: 0px 20px 20px 0px;
    min-width: 90%;
}
