.review-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(31, 22, 22, 0.906);
    color:aqua;
    border-radius: 20px 0px 0px 20px;
    text-align: center;
    min-width: 30%;
    height: auto;
}

.review-text {
    background-color: aqua;
    color: rgba(31, 22, 22, 0.906);;
    border-radius: 0px 20px 20px 0px;
    /* min-width: 90%; */
}

#reviews {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 769px) {
    .review-author {
        min-width: 12%;
    }
}