body {
    height: 100%;
}

#container-cards {
    flex-direction: row;
    flex-wrap: wrap;
}


#container-cards .columns {
    flex-wrap: wrap;
    justify-content: center;
}

.more-icon {
    font-size: 24px;
    margin: 4% 4% 0px 0px;
}
