:root{
    --main-color: rgba(43, 45, 43, 0);
}

* {
    font-family: lato;
}

body {
    background-color: rgba(31, 22, 22, 0.906);
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#logo {
    width: 50px;
    height: 50px;
}

.hero .title {
    font-weight: 700;
    font-size: 60px;
    color: #c3c3c3;
}

#header {
    background-color: var(--main-color);
    border-radius: 20px;
    min-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

#searchSection {
    max-width:1200px;
    background-color: rgba(36, 33, 32, 0.744);
    height: 70px;
    margin-bottom: 20px;
    margin: auto;
    border-radius: 10px;
}
#welcomePhoto {
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 4px 8px 30px rgb(30, 29, 29);
}

.welcomePhoto {
    padding-bottom: 50px;
}

.mainContent {
    width: 1400px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    background-color: rgb(22, 22, 19);
    padding: 20px;
}

#application {
    margin: auto;
    max-width: 1200px;
}

#application .column {
    background-color: var(--main-color);
    border-radius: 20px;
    max-width: 570px;
    margin: auto;
    height: 90px;
    padding-top: 23px;
}

#application input {
    padding: 13px;
    width: 443px;
}

#morerecipeimage{
    max-width: 100%;
}

form {
    width: 75%;
}

.resultDisplay {
    margin: 12px;
    border-radius: 20px;
}
.card-content {
    margin-bottom: 30px;
}
li {
    color: rgb(80, 71, 71);
    list-style: none;
}


.card {
    border-radius: 30px;
}

.card:hover {
    box-shadow: 4px 8px 30px rgb(30, 29, 29);
}

a:hover {
    color: rgb(139, 194, 228);
}