:root{
    --main-color: rgba(43, 45, 43, 0);
}
*{
    font-family: lato;
    color: white;
}
body {
    background-color: rgba(31, 22, 22, 0.906);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 3000px;
}

#logo {
    width: 50px;
    height: 50px;
}

.hero .title {
    font-weight: 700;
    font-size: 60px;
    color: #3cca96;
}

#header {
    background-color: var(--main-color);
    border-radius: 20px;
    min-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

#welcomePhoto {
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
}

.welcomePhoto {
    padding-bottom: 40px;
}

.mainContent {
    width: 1400px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    background-color: rgb(22, 22, 19);
    padding: 20px;
}

#application {
    margin: auto;
    max-width: 1200px;
}

#application .column {
    background-color: var(--main-color);
    border-radius: 20px;
    max-width: 570px;
    margin: auto;
    height: 90px;
    padding-top: 23px;
}

#application input {
    padding: 13px;
    width: 443px;
}

form {
    width: 75%;
}

.resultDisplay {
    margin: 12px;
    border-radius: 20px;
}
.card-content {
    margin-bottom: 30px;
}
li {
    color: black;
    list-style: none;
}